/* styles.css */

/* Gaya tampilan halaman */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9e66e; /* Warna kuning */
    color: #000; /* Warna hitam */
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Warna putih */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #000; /* Warna hitam */
    color: #fff; /* Warna putih */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Warna abu-abu gelap saat dihover */
}

#hasilNilaiAkhir {
    font-size: 18px;
    font-weight: bold;
}
